body 
{
  background-color: #39ff14;
}
.fancyName 
{
  font-family: 'Syne', sans-serif;
  color: black;
  font-size: 10rem;
  text-align: center;
  justify-self: center;
}

.fancySubName 
{
  font-family: 'Sentient', serif;
  font-size: 10rem;
  text-align: center;
  justify-self: center;
}

.btn-outline-black
{
  font-family: 'Sentient', serif;
  font-size: 1.5rem;
  border: none;
  width: 100%;
  height: 6rem;
  max-width: 9rem;
}

.cardContainer 
{
  justify-content: center;
  padding-left: 8rem;
  padding-top: 8rem;
  height: 100%;
}