.fancyName 
{
  font-family: 'Syne', sans-serif;
  color: rgba(0, 0, 0, 0.933);
  font-size: 10rem;
}

.fancySubName 
{
  font-family: 'Sentient', serif;
  color: #66ff00;
  font-size: 8rem;
}


.btn-outline-black
{
  font-family: 'Courier', monospace;
  font-size: 1.5rem;
  border-style: none;
  width: 100%;
  height: 5rem;
  max-width: 9rem;
}
.click:hover {
  border-top:6px solid #66ff00;
  opacity: 0.7 0.1s;
  transform: scale(1.1);
  transition-duration: 0.5s;
  color: #66ff00;
}

.btn:focus, .btn:active:focus, .btn.active:focus{
  outline:none;
  box-shadow:none;
}

.contactContainer
{
  padding: 6px;
}
/* fixed bottom = Footer */
.fixed-bottom 
{
  font-family: 'Sentient', serif;
  color: #66ff008c;
  background-color: rgb(0, 0, 0);
  height: 4rem;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header
{
  font-family: 'Syne', sans-serif;
  font-size: 1.8rem;
}

.css-fpqs8j
{
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 22%;
}
.card
{ 
background-color: rgba(245, 245, 245, 0.0); 
}

.bi
{
  position: relative;
  float: left; 
}

.cardText
{
  text-align: center;
  justify-content: center;
}

p.card-text
{
  color: rgba(56, 56, 56, 0.871);
  size: small;
}

.card-title.h5
{
  background-size: 2rem;
  color: rgb(33, 33, 33);
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.cardContainer
{
  font-family: 'Sentient', serif;
  font-size: 1.5rem;
  display: flex; /*Waarom de fok implode m'n kaart ?*/
  justify-content: center;
}

.card
{
  background-color: #66ff00;
  border-style: none;
  border-radius: 0.05%;
  width: 80%;
  border-top:6px solid #76eec6;
}


.formContainer 
{
  font-family: 'Sentient', serif;
  font-size: 2rem;
}

.form-group
{
  background-color: #66ff00;
  border-radius: 0.4%;
}
.form-control
{
  border-radius: 1%;
}

.btn-dark
{
  color: rgba(255, 255, 255, 0.85);
  width: 50%;
  margin: 2px;
  border-style: none;
}

.btn-dark:hover
{
 background-color: black;
 opacity: 0.7 0.3s;
 transform: scale(1.1);
 cursor: pointer;
}

.card 
{
  margin: 4px;
  border-radius: 2%;

}

.card-body 
{
  width: 100%;
  border-radius: 2%;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

@media (max-width: 991.98px)
{
    .fancyName 
  {
    font-family: 'Syne', sans-serif;
    color: black;
    font-size: 3rem;
  }

  .fancySubName 
  {
    font-family: 'Sentient', serif;
    color: #66ff00;
    font-size: 2rem;
  }
  .header
  {
    font-family: 'Syne', sans-serif;
    font-size: 1rem;
  }

  .btn-dark
  {
    width: 50%;
    margin: 2px;
    border-style: none;
  }
  .col-md-3
  {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3.2rem;
    width: 100%;
  }

  .cardContainer 
  {
    margin: 4px;
    border-radius: 2%;
    font-size: 1.5rem;
  }

  .fixed-bottom
  {
    margin-bottom: 1px;
    max-height: 50px;
    font-size: 0.6rem;
  }

  .btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
  }

  .btn-outline-black
  {
    height: 3rem;
  }
  /*Maak text boven header kleiner voor mobile*/
  .header.m-2 
  {
    font-size: 0.80rem;
  }
  /*Remove horizontale lijn onder header voor mobile*/
  hr 
  {
    display: none;
    visibility: hidden;
  }
}